@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');




* {
    margin: 0;
    padding: 0;
}

.left-top {
    text-align: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 10% 10%;
    margin-bottom: 15px;
}

.left-top h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: hsl(241, 100%, 89%);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
}

.left-top .numbers {
    background-color: hsl(241, 81%, 54%);
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    color: hsl(241, 100%, 89%);
    font-family: Poppins;
    font-size: 12px;
    margin-bottom: 20px;
}

.left-top .numbers span {
    font-size: 45px;
    color: white;
    font-weight: 600;
    font-family: Poppins;

}

.left-top span {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
}

.left-top p {
    padding-top: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: hsl(241, 100%, 89%);
    font-family: Poppins;
    font-size: 13px;
    padding-bottom: 30px;

}

/*zona 2 segunda */

.right-bottom {
    padding: 5px 30px;
}

.right-bottom h3 {
    font-size: 16px;
    font-family: Poppins;
    text-align: left;
    color: hsl(224, 30%, 27%);
    margin-bottom: 20px;
}

.right-bottom .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.right-bottom .item h4 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-bottom .item p span{
    color: black;
    font-weight: 800;
}

.right-bottom .item h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.right-bottom .item:nth-of-type(1) {
    background-color: hsla(0, 100%, 67%, 10%);
}

.right-bottom .item:nth-of-type(1) h4 {
    color: hsl(0, 100%, 67%);
    font-family: Poppins;
    font-size: 14px;
}

.right-bottom .item:nth-of-type(2) {
    background-color: hsla(39, 100%, 56%, 10%);
}

.right-bottom .item:nth-of-type(2) h4 {
    color: hsl(39, 100%, 56%);
    font-family: Poppins;
    font-size: 14px;
}

.right-bottom .item:nth-of-type(3) {
    background-color: hsla(166, 100%, 37%, 10%);
}

.right-bottom .item:nth-of-type(3) h4 {
    color: hsl(166, 100%, 37%);
    font-family: Poppins;
    font-size: 14px;
}


.right-bottom .item:nth-of-type(4) {
    background-color: hsla(234, 85%, 45%, 10%);
}

.right-bottom .item:nth-of-type(4) h4 {
    color: hsla(234, 85%, 45%);
    font-family: Poppins;
    font-size: 14px;

}

button {
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: hsl(224, 30%, 27%);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}


@media screen and (min-width: 768px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 610px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border-radius: 20px;
        box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.2);
    }

    .left-top {
        width: 300px;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 0;
    }

    .right-bottom {
        width: 250px;
    }
}